.github-corner {
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1;
}
.github-corner svg {
  color: #fff;
  fill: #333;
  fill: var(--theme-color,#333);
  height: 80px;
  width: 80px;
}